{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    {% load material_form %}
</head>

<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <a href="{% url 'home' %}" class="brand-logo">CMAM</a>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li>
                        <a  href="{% url 'dashboard' %}"><i class="material-icons left">assessment</i>Dashboard</a>
                    </li>
                    <li>
                        <a  href="{% url 'programs' %}"><i class="material-icons left">list</i>Programs</a>
                    </li>
                    <li>
                        <a  href="{% url 'stocks' %}"><i class="material-icons left">list</i>Stocks</a>
                    </li>
                    <li>
                        <a href="#!" class="dropdown-button" data-activates="dropdown1"> 
                            <i class="material-icons right">perm_identity</i><strong>{{user}}</strong>
                        </a>
                        <ul id="dropdown1" class="dropdown-content">
                            <li>
                                <a href="{% url 'bdiadmin:profile' %}"><i class="fa fa-users"></i>{% trans " Profiles" %}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'logout' %}?next=/"><i class="fa fa-sign-out fa-fw"></i>{% trans "Logout" %}</a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <a  href="{% url 'login' %}?next=/dashboard/"><i class="fa fa-sign-in fa-fw"></i>{% trans "Login" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block content %}
            {% if object_list %}
        <div class="col s8">
            <table class="table highlight" >
                <thead>
                    <tr>
                        <th>Level</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Telephone</th>
                    </tr>
                </thead>
                {% if user.is_superuser %}
                {% for profile in object_list %}
                <tr>
                    <td><a href="{% url 'bdiadmin:edit_profile' profile.user.id %}" class="btn btn_link">{{ profile.level}}</a></td>
                    <td>{{ profile.user.last_name }}</td>
                    <td>{{ profile.user.first_name }}</td>
                    <td>{{ profile.user.email }}</td>
                    <td>{{ profile.telephone }}</td>
                </tr>
                {% endfor %}
                {% else %}
                {% for profile in object_list %}
                {% if profile.user == user %}
                <tr>
                    <td><a href="{% url 'bdiadmin:edit_profile' profile.user.id %}" class="btn btn_link">{{ profile.level}}</a></td>
                    <td>{{ profile.user.last_name }}</td>
                    <td>{{ profile.user.first_name }}</td>
                    <td>{{ profile.user.email }}</td>
                    <td>{{ profile.telephone }}</td>
                </tr>
                {% endif %}
                {% endfor %}        
                {% endif %}
            </table>

            {% else %}

            <p>No profiles found!!! :(</p>
            {% endif %}
        {% endblock content %}
        </div>
        <script>
            $(document).ready(function(){
                $(".dropdown-button").dropdown();
            });
        </script>
    </body>
    </html>