{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A admin dashboard for CMAM Unicef Burundi project">
    <meta name="author" content="UNICEF Burundi">

    <title>{% block title %}CMAM Dashboard{% endblock title %}</title>
    <script src="{% static 'bower_components/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bower_components/jquery-ui/themes/base/jquery-ui.css' %}">
    <script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- MetisMenu CSS -->
    <link href="{% static "vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static "js/angular.min.js" %}"></script>
    <script src="{% static "js/highcharts/highcharts.js" %}"></script>
</head>

<body ng-app="myApp">

    <div id="wrapper" >

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">CMAM</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="page-scroll" href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'programs' %}"><i class="fa fa-plus-square fa-fw"></i>{% trans "Programs" %}</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'stocks' %}"><i class="fa fa-medkit fa-fw"></i>Stocks</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{user}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'bdiadmin:profile' %}"><i class="fa fa-users"></i>{% trans "Profiles" %}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout' %}?next=/"><i class="fa fa-sign-out fa-fw"></i>{% trans "Logout" %}</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                    <li>
                        <a class="page-scroll" href="{% url 'login' %}?next=/dashboard/"><i class="fa fa-sign-in fa-fw"></i>{% trans "Login" %}</a>
                    </li>
                {% endif %}
        </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation"  ng-controller="myCtrl">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" >
                        <li >
                        {% block search_form %}
                        <form role="form" class="side-form">
                          <!-- Province -->
                          <div id="province-group" class="form-group">
                            <label>Province</label>
                            <select id="provinceselect" class="form-control"  ng-model="dashboard.province" ng-options="x.name for x in provinces track by x.code" ng-change="update_province()" ></select>
                          </div>

                          <!-- District -->
                          <div id="district-group" class="form-group">
                            <label>District</label>
                            <select id="districtselect" class="form-control"  ng-model="dashboard.district" ng-options="x.name for x in districts track by x.code"  ng-change="update_district()" ></select>
                          </div>

                          <!-- CDS -->
                          <div id="cds-group" class="form-group">
                            <label>CDS</label>
                            <select id="cdsselect" class="form-control"  ng-model="dashboard.cds" ng-options="x.name for x in cdss track by x.code"  ng-change="update_cd"></select>
                          </div>
                          <!-- dates -->
                          <div class="form-group">
                            <label for="startdate">{% trans "End Date" %}:</label>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control datepicker" readonly="readonly" style="position: relative; z-index: 100000;" ng-model="startdate" ng-change="get_by_date()">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="dendtdate">{% trans "End Date" %}:</label>
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control datepicker" readonly="readonly" style="position: relative; z-index: 100000;" ng-model="enddate" ng-change="get_by_date()">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                          </div>
                        </form>
                        {% endblock search_form %}
                      </li>
                </ul>
            </div>
        </div>
    </nav>

        <!-- Page Content -->
        <div id="page-wrapper" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 petit">
                        <h1 class="page-header">{% trans "Community-based Management of Acute Malnutrition" %}</h1>
                        {% block container %}
                            <div class="container-fluid" id="main" >
                              <div class="row">
                                  <div class="container" ng-controller="DashCtrl">
                                  <ul class="nav nav-tabs">
                                    <li  class="active">
                                      <a href="#sta" data-toggle="tab">STA</a>
                                    </li>
                                    <li >
                                      <a href="#sst" data-toggle="tab">SST</a>
                                    </li>
                                  </ul>
                                  <div class="tab-content">
                                    <div class="tab-pane active" id="sta">
                                      <div id="taux_sta" class="col-md-6" ></div>
                                      <div id="tendance_sta"class="col-md-6" ></div>
                                  </div>
                                  <div class="tab-pane fade" id="sst">
                                      <div id="taux_sst" class="col-md-6" ></div>
                                      <div id="tendance_sst" class="col-md-6" ></div>
                                  </div>
                                </div>
                              </div>
                            <!--/col-->
                          </div>
                        {% endblock container %}
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <footer class="container-fluid">
      <p class="text-right ">©2016 UNICEF Burundi</p>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>

    <!-- CMAM based Js -->
    <script src="{% static 'js/cmam-app.js' %}"></script>
    <!-- Include Bootstrap Datepicker -->
    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd' });
        });
    </script>

</body>

</html>
