{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A admin dashboard for CMAM Unicef Burundi project">
  <meta name="author" content="UNICEF Burundi">

  <title>{% block title %}CMAM Dashboard{% endblock title %}</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="{% static "vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="{% static "js/angular.min.js" %}"></script>
</head>

<body ng-app="ProgramApp">

  <div id="wrapper"  ng-controller="pgrmCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">CMAM</a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
        <li>
          <a class="page-scroll" href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
        </li>
        <li>
          <a class="page-scroll" href="{% url 'programs' %}"><i class="fa fa-plus-square fa-fw"></i>Programs</a>
        </li>
        <li>
          <a class="page-scroll" href="{% url 'stocks' %}"><i class="fa fa-medkit fa-fw"></i>Stocks</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}?next=/"><i class="fa fa-sign-out fa-fw"></i>{% trans "Logout" %}</a>
        </li>
        {% else %}
        <li>
          <a class="page-scroll" href="{% url 'login' %}?next=/"><i class="fa fa-sign-in fa-fw"></i>{% trans "Login" %}</a>
        </li>
        {% endif %}
      </ul>
      <!-- /.navbar-top-links -->
      <div class="navbar-default sidebar" role="navigation" >
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" >
            <li >
              {% block search_form %}
              <form role="form" class="side-form" >
                <!-- Province -->
                <div id="province-group" class="form-group">
                  <label>Province</label>
                  <select class="form-control"  ng-model="province" ng-options="x.name for x in provinces track by x.code" ng-change="update_province()"></select>
                </div>

                <!-- District -->
                <div id="district-group" class="form-group">
                  <label>District</label>
                  <select class="form-control"  ng-model="district" ng-options="x.name for x in districts track by x.code"  ng-change="update_district()" ></select>
                </div>
              </form>
              {% endblock search_form %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Community-based Management of Acute Malnutrition</h1>
            {% block container %}
            <div class="container"  >
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#STA" data-toggle="tab">STA</a></li>
                  <li ><a href="#SST" data-toggle="tab">SST</a></li>
                </ul>
                <div class="tab-content" >
                  <div class="tab-pane active" id="STA">
                  <div class="row" >
                    <div class="col-md-3">
                      <h3>Taux de guerison</h3>
                      <h1 id="taux_de_guerison_general_sta">0%</h1>
                      <table class="table bg-warning">
                        <thead>
                          <tr>
                            <th>Province</th>
                            <th>District</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>0%</td>
                            <td>0%</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-3">
                    <h3 >Taux de deces</h3>
                    <h1 id="taux_de_deces_general_sta">0%</h1>
                    <table class="table bg-danger">
                      <thead>
                        <tr>
                          <th>Province</th>
                          <th>District</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>0%</td>
                          <td>0%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-3">
                    <h3>Taux d'abandon</h3>
                    <h1 id="taux_d_abandon_general_sta">0%</h1>
                    <table class="table bg-info">
                      <thead>
                        <tr>
                          <th>Province</th>
                          <th>District</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>0%</td>
                          <td>0%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                    <table  class="table fixed table-bordered table-hover">
                      <thead class="thead-default">
                        <tr>
                          <th rowspan="2">Week</th>
                          <th rowspan="2">Total debut de semaine</th>
                          <th colspan="3">Nouvelles Admissions</th>
                          <th rowspan="2">Re-admission après Abandon</th>
                          <th rowspan="2">Transfert interne</th>
                          <th rowspan="2">Total des Admissions</th>
                          <th colspan="5">Sorties</th>
                          <th rowspan="2">Total decharge</th>
                          <th rowspan="2">Total Fin de semaine</th>
                        </tr>
                        <tr>
                          <th>P/T&lt;-3z,70%, PB&lt;115mm ou PB&lt;180mm </th>
                          <th>Oeudeme</th>
                          <th>Rechute</th>
                          <th>Gueri</th>
                          <th>Deces</th>
                          <th>Abandons</th>
                          <th>Non repondant</th>
                          <th>Transferts iterne</th>
                        </tr>
                      </thead>
                      <tbody ng-init="total_debut_semainea = 0; ptba = 0 ; oedemesa=0; rechutea=0; readmissiona=0; transfert_interne_ia=0; gueria=0; decesa=0; abandona=0; non_repondanta=0; transfert_interne_oa=0; Admissionsa=0; dechargea=0; Fina=0">
                        {% verbatim %}
                        <tr ng-repeat="(x, y) in lescds track by $index">
                          <td>{{x}}</td>
                          <td ng-init="$parent.total_debut_semainea = $parent.total_debut_semainea + y.total_debut_semaine " >{{y.total_debut_semaine || 0}}</td>
                          <td ng-init="$parent.ptba = $parent.ptba + y.ptb ">{{y.ptb || 0}}</td>
                          <td ng-init="$parent.oedemesa = $parent.oedemesa + y.oedemes ">{{y.oedemes || 0}}</td>
                          <td ng-init="$parent.rechutea = $parent.rechutea + y.rechute ">{{y.rechute || 0}}</td>
                          <td ng-init="$parent.readmissiona = $parent.readmissiona + y.readmission ">{{y.readmission || 0}}</td>
                          <td ng-init="$parent.transfert_interne_ia = $parent.transfert_interne_ia + y.transfert_interne ">{{y.transfert_interne_i || 0}}</td>
                          <td ng-init="$parent.Admissionsa = $parent.Admissionsa + y.total_debut_semaine + y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne ">{{y.total_debut_semaine + y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne || 0}}</td>
                          <td ng-init="$parent.gueria = $parent.gueria + y.gueri ">{{y.gueri || 0}}</td>
                          <td ng-init="$parent.decesa = $parent.decesa + y.deces ">{{y.deces || 0}}</td>
                          <td ng-init="$parent.abandona = $parent.abandona + y.abandon ">{{y.abandon || 0}}</td>
                          <td ng-init="$parent.non_repondanta = $parent.non_repondanta + y.non_repondant ">{{y.non_repondant || 0}}</td>
                          <td ng-init="$parent.transfert_interne_oa = $parent.transfert_interne_oa + y.transfert_interne_o ">{{y.transfert_interne_o || 0}}</td>
                          <td ng-init="$parent.dechargea = $parent.dechargea + y.gueri + y.deces + y.abandon + y.non_repondant ">{{y.gueri + y.deces + y.abandon + y.non_repondant || 0}}</td>
                          <td ng-init="$parent.Fina = $parent.Fina + (y.total_debut_semaine + y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne) - (y.gueri + y.deces + y.abandon + y.non_repondant)">{{(y.total_debut_semaine + y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne) - (y.gueri + y.deces + y.abandon + y.non_repondant) || 0}}</td>
                        </tr>
                        <tr class="success">
                          <td><b>Weeks</b></td>
                          <td><b>{{total_debut_semainea}}</b> </td>
                          <td><b>{{ptba}}</b></td>
                          <td><b>{{oedemesa}}</b></td>
                          <td><b>{{rechutea}}</b></td>
                          <td><b>{{readmissiona}}</b></td>
                          <td><b>{{transfert_interne_ia}}</b></td>
                          <td><b>{{Admissionsa}}</b></td>
                          <td><b>{{gueria}}</b></td>
                          <td><b>{{decesa}}</b></td>
                          <td><b>{{abandona}}</b></td>
                          <td><b>{{non_repondanta}}</b></td>
                          <td><b>{{transfert_interne_oa}}</b></td>
                          <td><b>{{dechargea}}</b></td>
                          <td><b>{{Fina}}</b></td>
                        </tr>
                        {% endverbatim %}
                        </tbody>
                    </table>
                  </div>
                  <div class="tab-pane " id="SST">
                  <div class="row" >
                    <div class="col-md-3">
                      <h3>Taux de guerison</h3>
                      <h1 id="taux_de_guerison_general_sst">0%</h1>
                      <table class="table bg-warning">
                        <thead>
                          <tr>
                            <th>Province</th>
                            <th>District</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>0%</td>
                            <td>0%</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-3">
                    <h3>Taux de deces</h3>
                    <h1 id="taux_de_deces_general_sst">0%</h1>
                    <table class="table bg-danger">
                      <thead>
                        <tr>
                          <th>Province</th>
                          <th>District</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>0%</td>
                          <td>0%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-3">
                    <h3>Taux d'abandon</h3>
                    <h1 id="taux_d_abandon_general_sst">0%</h1>
                    <table class="table bg-info">
                      <thead>
                        <tr>
                          <th>Province</th>
                          <th>District</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>18%</td>
                          <td>40%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                   <table  class="table fixed table-bordered table-hover">
                      <thead class="thead-default">
                        <tr>
                          <th rowspan="2">Week</th>
                          <th rowspan="2">Total debut de semaine</th>
                          <th colspan="3">Nouvelles Admissions</th>
                          <th rowspan="2">Re-admission après Abandon (&lt;2mois)</th>
                          <th rowspan="2">Transfert interne</th>
                          <th rowspan="2">Total des Admissions</th>
                          <th colspan="4">Sorties</th>
                          <th rowspan="2">Total decharge</th>
                          <th rowspan="2">Total Fin de semaine</th>
                        </tr>
                        <tr>
                          <th>P/T&lt;-3z,70%, PB&lt;115mm ou PB&lt;180mm </th>
                          <th>Oeudeme</th>
                          <th>Rechute</th>
                          <th>Traité avec succès</th>
                          <th>Deces</th>
                          <th>Abandons</th>
                          <th>Non repondant</th>
                        </tr>
                      </thead>
                      <tbody ng-init="total_debut_semaine = 0; ptb = 0 ; oedemes=0; rechute=0; readmission=0; gueri=0; deces=0; abandon=0; non_repondant=0; Admissions=0; decharge=0; Fin=0; transfert_interne_i=0">
                        {% verbatim %}
                        <tr ng-repeat="(x, y) in leshopitaux track by $index">
                          <td>{{x}}</td>
                          <td ng-init="$parent.total_debut_semaine = $parent.total_debut_semaine + y.total_debut_semaine " >{{y.total_debut_semaine || 0}}</td>
                          <td ng-init="$parent.ptb = $parent.ptb + y.ptb ">{{y.ptb || 0}}</td>
                          <td ng-init="$parent.oedemes = $parent.oedemes + y.oedemes ">{{y.oedemes || 0}}</td>
                          <td ng-init="$parent.rechute = $parent.rechute + y.rechute ">{{y.rechute || 0}}</td>
                          <td ng-init="$parent.readmission = $parent.readmission + y.readmission ">{{y.readmission || 0}}</td>
                          <td ng-init="$parent.transfert_interne_i = $parent.transfert_interne_i + y.transfert_interne_i ">{{y.transfert_interne_i || 0}}</td>
                          <td ng-init="$parent.Admissions = $parent.Admissions + y.total_debut_semaine + y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne ">{{y.total_debut_semaine + y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne || 0}}</td>
                          <td ng-init="$parent.gueri = $parent.gueri + y.gueri ">{{y.gueri || 0}}</td>
                          <td ng-init="$parent.deces = $parent.deces + y.deces ">{{y.deces || 0}}</td>
                          <td ng-init="$parent.abandon = $parent.abandon + y.abandon ">{{y.abandon || 0}}</td>
                          <td ng-init="$parent.non_repondant = $parent.non_repondant + y.non_repondant ">{{y.non_repondant || 0}}</td>
                          <td ng-init="$parent.decharge = $parent.decharge + y.gueri + y.deces + y.abandon + y.non_repondant ">{{y.gueri + y.deces + y.abandon + y.non_repondant || 0}}</td>
                          <td ng-init="$parent.Fin = $parent.Fin + (y.total_debut_semaine + y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne) - (y.gueri + y.deces + y.abandon + y.non_repondant)">{{(y.total_debut_semaine + y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne) - (y.gueri + y.deces + y.abandon + y.non_repondant) || 0}}</td>
                        </tr>
                        <tr class="success">
                          <td><b>Weeks</b></td>
                          <td><b>{{total_debut_semaine}}</b> </td>
                          <td><b>{{ptb}}</b></td>
                          <td><b>{{oedemes}}</b></td>
                          <td><b>{{rechute}}</b></td>
                          <td><b>{{readmission}}</b></td>
                          <td><b>{{transfert_interne_i}}</b></td>
                          <td><b>{{Admissions}}</b></td>
                          <td><b>{{gueri}}</b></td>
                          <td><b>{{deces}}</b></td>
                          <td><b>{{abandon}}</b></td>
                          <td><b>{{non_repondant}}</b></td>
                          <td><b>{{decharge}}</b></td>
                          <td><b>{{Fin}}</b></td>
                        </tr>
                        {% endverbatim %}
                        </tbody>
                    </table>
                  </div>
              </div>
              </div>
            </div>
          {% endblock container %}
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->
  <footer class="container-fluid">
    <p class="text-right ">©2016 UNICEF Burundi</p>
  </footer>

      <!-- jQuery -->
      <script src="{% static "js/libs/jquery.min.js" %}"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="{% static "js/bootstrap.min.js" %}"></script>

      <!-- Metis Menu Plugin JavaScript -->
      <script src="{% static "vendor/metisMenu/metisMenu.min.js" %}"></script>

      <!-- Custom Theme JavaScript -->
      <script src="{% static "js/sb-admin-2.js" %}"></script>

      <!-- CMAM based Js -->
      <script src="{% static "js/cmam-programs.js" %}"></script>
  </body>

</html>
