{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A admin dashboard for CMAM Unicef Burundi project">
  <meta name="author" content="UNICEF Burundi">

  <title>{% block title %}CMAM Dashboard{% endblock title %}</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="{% static "vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css">
  <script src="{% static 'js/libs/jquery.min.js' %}"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:-->
  
  <script src="{% static 'js/angular.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/angular-sanitize.min.js' %}"></script>
  <script src="{% static "js/jquey/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "js/angular-datatables.min.js" %}"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static "css/angular-datatables.min.css" %}">
  <link rel="stylesheet" href="{% static "css/buttons.dataTables.min.css" %}">
  <script src="{% static "js/dataTables.buttons.min.js" %}"></script>
  <script src="{% static "js/buttons.colVis.min.js" %}"></script>
  <script src="{% static "js/buttons.flash.min.js" %}"></script>
  <script src="{% static "js/buttons.html5.min.js" %}"></script>
  <script src="{% static "js/buttons.print.min.js" %}"></script>
  <script src="{% static "js/angular-datatables.buttons.min.js" %}"></script>
</head>

<body ng-app="ProgramApp">

  <div id="wrapper"  ng-controller="pgrmCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">CMAM</a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
        {% if user.is_authenticated %}
        <li>
          <a class="page-scroll" href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
        </li>
        <li>
          <a class="page-scroll" href="{% url 'programs' %}"><i class="fa fa-plus-square fa-fw"></i>Programs</a>
        </li>
        <li>
          <a class="page-scroll" href="{% url 'stocks' %}"><i class="fa fa-medkit fa-fw"></i>Stocks</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> 
                <strong>{{user}}</strong>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'bdiadmin:profile' %}"><i class="fa fa-users"></i>{% trans " Profiles" %}</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{% url 'logout' %}?next=/"><i class="fa fa-sign-out fa-fw"></i>{% trans "Logout" %}</a>
                </li>
            </ul>
        </li>
        {% else %}
        <li>
          <a class="page-scroll" href="{% url 'login' %}?next=/"><i class="fa fa-sign-in fa-fw"></i>{% trans "Login" %}</a>
        </li>
        {% endif %}
      </ul>
      <!-- /.navbar-top-links -->
      <div class="navbar-default sidebar" role="navigation" >
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" >
            <li >
              {% block search_form %}
              <form role="form" class="side-form" >
                <!-- Year -->
                  <div id="year-group" class="form-group">
                    <label>{% trans "Year" %}</label>
                    <select id="yearselect" class="form-control"  ng-model="year" ng-options="x for x in years track by x" ng-change="update_years()" ></select>
                  </div>
                <!-- Province -->
                <div id="province-group" class="form-group">
                  <label>Province</label>
                  <select id="ddprovince" class="form-control"  ng-model="province" ng-options="x.name for x in provinces track by x.code" ng-change="update_province()"></select>
                </div>

                <!-- District -->
                <div id="district-group" class="form-group">
                  <label>District</label>
                  <select class="form-control"  ng-model="district" ng-options="x.name for x in districts track by x.code"  ng-change="update_district()" ></select>
                </div>

                <!-- CDS -->
                  <div id="cds-group" class="form-group">
                    <label>CDS</label>
                    <select class="form-control"  ng-model="cds" ng-options="x.name for x in cdss track by x.code"  ng-change="update_cds()" ></select>
                  </div>
                <!-- dates -->
                            <div class="form-group">
                                <label for="dstartdate">{% trans "Start Date" %}:</label>
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" id="startdate" class="form-control datepicker" readonly="readonly" ng-model="startdate" ng-change="get_bydate()" style="position: relative; z-index: 100000;">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dendtdate">{% trans "End Date" %}:</label>
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" id="endtdate" class="form-control datepicker" readonly="readonly" ng-model="enddate" ng-change="get_bydate()" style="position: relative; z-index: 100000;">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
              </form>
              {% endblock search_form %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12" ng-controller="ExportCtrl">
            <h1 class="page-header">{% trans "Community-based Management of Acute Malnutrition" %}</h1>
            {% block container %}
            <div class="container"  >
              <ul class="nav nav-tabs">
                <li class="active"><a href="#STA" data-toggle="tab">STA</a></li>
                <li ><a href="#SST" data-toggle="tab">SST</a></li>
              </ul>
              <div class="tab-content" >
                <div class="tab-pane active" id="STA">
                  <div class="row" >
                    <div class="col-md-4 text-success">
                      <h3>{% trans "Rate of healing" %}</h3>
                      <h1 >{% verbatim %}
                        {{((cdsgnrl.gueri/(cdsgnrl.gueri+cdsgnrl.deces+cdsgnrl.abandon))*100).toFixed(2) | number: 0}}
                        {% endverbatim %}%</h1>
                        <table class="table bg-success">
                          <thead>
                            <tr>
                              <th>Province</th>
                              <th>District</th>
                              <th>CDS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{% verbatim %}
                        {{((cdsprov.gueri/(cdsprov.gueri+cdsprov.deces+cdsprov.abandon))*100).toFixed(2) | number: 0}}
                        {% endverbatim %}%</td>
                              <td>{% verbatim %}
                        {{((cdsdistr.gueri/(cdsdistr.gueri+cdsdistr.deces+cdsdistr.abandon))*100).toFixed(2) | number: 0}}
                        {% endverbatim %}%</td>
                              <td>{% verbatim %}
                        {{((cdscds.gueri/(cdscds.gueri+cdscds.deces+cdscds.abandon))*100).toFixed(2) | number: 0}}
                        {% endverbatim %}%</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-4 text-danger">
                        <h3 >{% trans "Death rate" %}</h3>
                        <h1 >{% verbatim %}
                          {{((cdsgnrl.deces/(cdsgnrl.gueri+cdsgnrl.deces+cdsgnrl.abandon))*100).toFixed(2) | number: 0}}
                          {% endverbatim %}%</h1>
                          <table class="table bg-danger">
                            <thead>
                              <tr>
                                <th>Province</th>
                                <th>District</th>
                                <th>CDS</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{% verbatim %}
                          {{((cdsprov.deces/(cdsprov.gueri+cdsprov.deces+cdsprov.abandon))*100).toFixed(2) | number: 0}}
                          {% endverbatim %}%</td>
                                <td>{% verbatim %}
                          {{((cdsdistr.deces/(cdsdistr.gueri+cdsdistr.deces+cdsdistr.abandon))*100).toFixed(2) | number: 0}}
                          {% endverbatim %}%</td>
                                <td>{% verbatim %}
                          {{((cdscds.deces/(cdscds.gueri+cdscds.deces+cdscds.abandon))*100).toFixed(2) | number: 0}}
                          {% endverbatim %}%</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-4 text-info">
                          <h3>{% trans "Dropout rate" %}</h3>
                          <h1 >{% verbatim %}
                            {{((cdsgnrl.abandon/(cdsgnrl.gueri+cdsgnrl.deces+cdsgnrl.abandon))*100).toFixed(2) | number: 0}}
                            {% endverbatim %}%</h1>
                            <table class="table bg-info">
                              <thead>
                                <tr>
                                  <th>Province</th>
                                  <th>District</th>
                                  <th>CDS</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{% verbatim %}
                            {{((cdsprov.abandon/(cdsprov.gueri+cdsprov.deces+cdsprov.abandon))*100).toFixed(2) | number: 0}}
                            {% endverbatim %}%</td>
                                  <td>{% verbatim %}
                            {{((cdsdistr.abandon/(cdsdistr.gueri+cdsdistr.deces+cdsdistr.abandon))*100).toFixed(2) | number: 0}}
                            {% endverbatim %}%</td>
                                  <td>{% verbatim %}
                            {{((cdscds.abandon/(cdscds.gueri+cdscds.deces+cdscds.abandon))*100).toFixed(2) | number: 0}}
                            {% endverbatim %}%</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <table  class="table fixed table-bordered table-hover"  data-toggle="table" datatable="ng" dt-options="dtOptions" >
                          <thead class="thead-default">
                            <tr>
                              <th ng-if="province1 != null" rowspan="2">Province</th>
                              <th ng-if="district1 != null" rowspan="2">District</th>
                              <th ng-if="cds1 != null" rowspan="2">Cds</th>
                              <th rowspan="2">Week</th>
                              <th rowspan="2">Total debut semaine</th>
                              <th colspan="3">Nouvelles Admissions</th>
                              <th rowspan="2">Re-admission après Abandon</th>
                              <th rowspan="2">Transfert interne</th>
                              <th rowspan="2">Total Admissions</th>
                              <th colspan="5">Sorties</th>
                              <th rowspan="2">Total decharge</th>
                              <th rowspan="2">Total Fin semaine</th>
                            </tr>
                            <tr>
                              <th>P/T&lt;-3z,70%, PB&lt;115mm ou PB&lt;180mm </th>
                              <th>Oeudeme</th>
                              <th>Rechute</th>
                              <th>Gueri</th>
                              <th>Deces</th>
                              <th>Abandon</th>
                              <th>Non repondant</th>
                              <th>Transfert iterne</th>
                            </tr>
                          </thead>
                          <tbody >
                            {% verbatim %}
                            <tr ng-repeat="(x, y) in lescds  ">
                              <td ng-if="province1 != null">{{province1.name}}</td>
                              <td ng-if="district1 != null">{{district1.name}}</td>
                              <td ng-if="cds1 != null"><a href="#">{{cds1.name}}</a></td>
                              <td>{{x}}</td>
                              <td>{{y.total_debut_semaine}}</td>
                              <td>{{y.ptb}}</td>
                              <td>{{y.oedemes}}</td>
                              <td>{{y.rechute }}</td>
                              <td>{{y.readmission }}</td>
                              <td>{{y.transfert_interne_i }}</td>
                              <td>{{y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne_i }}</td>
                              <td>{{y.gueri }}</td>
                              <td>{{y.deces }}</td>
                              <td>{{y.abandon }}</td>
                              <td>{{y.non_repondant }}</td>
                              <td>{{y.transfert_interne_o }}</td>
                              <td>{{y.gueri + y.deces + y.abandon + y.non_repondant + y.transfert_interne_o }}</td>
                              <td>{{(y.total_debut_semaine + y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne_i) - (y.gueri + y.deces + y.abandon + y.non_repondant +y.transfert_interne_0) }}</td>
                            </tr>
                            <tr class="success">
                              <th ng-if="province1 != null" rowspan="2">Province</th>
                              <th ng-if="district1 != null" rowspan="2">District</th>
                              <th ng-if="cds1 != null" rowspan="2">Cds</th>
                              <td><b>Weeks</b></td>
                              <td><b></b> </td>
                              <td><b>{{sommecds.ptb || 0}}</b></td>
                              <td><b>{{sommecds.oedemes || 0}}</b></td>
                              <td><b>{{sommecds.rechute || 0}}</b></td>
                              <td><b>{{sommecds.readmission || 0}}</b></td>
                              <td><b>{{sommecds.transfert_interne_i || 0}}</b></td>
                              <td><b>{{sommecds.ptb + sommecds.oedemes + sommecds.rechute + sommecds.readmission + sommecds.transfert_interne_i  || 0}}</b></td>
                              <td><b>{{sommecds.gueri || 0}}</b></td>
                              <td><b>{{sommecds.deces || 0}}</b></td>
                              <td><b>{{sommecds.abandon || 0}}</b></td>
                              <td><b>{{sommecds.non_repondant || 0}}</b></td>
                              <td><b>{{sommecds.transfert_interne_o || 0}}</b></td>
                              <td><b>{{sommecds.gueri + sommecds.deces + sommecds.abandon + sommecds.non_repondant + sommecds.transfert_interne_o  || 0}}</b></td>
                              <td><b></b></td>
                            </tr>
                            {% endverbatim %}
                          </tbody>
                        </table>
						
						<div class="row" >
							<input type="button" class="btn btn-default" target="_blank" onclick="location.href='http://cmam.unicefburundi.org/explorer/3/';" value="Stock In Excel" />
						</div>
						<div class="row" >
							<input type="button" class="btn btn-default" target="_blank" onclick="location.href='http://cmam.unicefburundi.org/explorer/4/';" value="Stock Out Excel" />
						</div>
                      </div>
                      <div class="tab-pane " id="SST">
                        <div class="row" >
                          <div class="col-md-4 text-success">
                            <h3>{% trans "Rate of healing" %}</h3>
                            <h1 >{% verbatim %}
                              {{((hopitauxgnrl.gueri/(hopitauxgnrl.gueri+hopitauxgnrl.deces+hopitauxgnrl.abandon))*100).toFixed(2) | number: 0}}
                              {% endverbatim %}%</h1>
                              <table class="table bg-success">
                                <thead>
                                  <tr>
                                    <th>Province</th>
                                    <th>District</th>
                                    <th>Hopital</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{% verbatim %}
                              {{((hopitauxprov.gueri/(hopitauxprov.gueri+hopitauxprov.deces+hopitauxprov.abandon))*100).toFixed(2) | number: 0}}
                              {% endverbatim %}%</td>
                                    <td>{% verbatim %}
                              {{((hopitauxdistr.gueri/(hopitauxdistr.gueri+hopitauxdistr.deces+hopitauxdistr.abandon))*100).toFixed(2) | number: 0}}
                              {% endverbatim %}%</td>
                              <td>{% verbatim %}
                              {{((hopitauxcds.gueri/(hopitauxcds.gueri+hopitauxcds.deces+hopitauxcds.abandon))*100).toFixed(2) | number: 0}}
                              {% endverbatim %}%</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="col-md-4 text-danger">
                              <h3>{% trans "Death rate" %}</h3>
                              <h1 >{% verbatim %}
                                {{((hopitauxgnrl.deces/(hopitauxgnrl.gueri+hopitauxgnrl.deces+hopitauxgnrl.abandon))*100).toFixed(2) | number: 0}}
                                {% endverbatim %}%</h1>
                                <table class="table bg-danger">
                                  <thead>
                                    <tr>
                                      <th>Province</th>
                                      <th>District</th>
                                      <th>Hopital</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>{% verbatim %}
                                {{((hopitauxprov.deces/(hopitauxprov.gueri+hopitauxprov.deces+hopitauxprov.abandon))*100).toFixed(2) | number: 0}}
                                {% endverbatim %}%</td>
                                      <td>{% verbatim %}
                                {{((hopitauxdistr.deces/(hopitauxdistr.gueri+hopitauxdistr.deces+hopitauxdistr.abandon))*100).toFixed(2) | number: 0}}
                                {% endverbatim %}%</td>
                                <td>{% verbatim %}
                                {{((hopitauxcds.deces/(hopitauxcds.gueri+hopitauxcds.deces+hopitauxcds.abandon))*100).toFixed(2) | number: 0}}
                                {% endverbatim %}%</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="col-md-4 text-info">
                                <h3>{% trans "Dropout rate" %}</h3>
                                <h1>{% verbatim %}
                                  {{((hopitauxgnrl.abandon/(hopitauxgnrl.gueri+hopitauxgnrl.deces+hopitauxgnrl.abandon))*100).toFixed(2) | number: 0}}
                                  {% endverbatim %}%</h1>
                                  <table class="table bg-info">
                                    <thead>
                                      <tr>
                                        <th>Province</th>
                                        <th>District</th>
                                        <th>Hopital</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td >{% verbatim %}
                                  {{((hopitauxprov.abandon/(hopitauxprov.gueri+hopitauxprov.deces+hopitauxprov.abandon))*100).toFixed(2) | number: 0}}
                                  {% endverbatim %}%</td>
                                        <td>{% verbatim %}
                                  {{((hopitauxdistr.abandon/(hopitauxdistr.gueri+hopitauxdistr.deces+hopitauxdistr.abandon))*100).toFixed(2) | number: 0}}
                                  {% endverbatim %}%</td>
                                  <td>{% verbatim %}
                                  {{((hopitauxcds.abandon/(hopitauxcds.gueri+hopitauxcds.deces+hopitauxcds.abandon))*100).toFixed(2) | number: 0}}
                                  {% endverbatim %}%</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <table class="table fixed table-bordered table-hover" data-toggle="table" datatable="ng" dt-options="dtOptions" id="tblSST" >
                                <thead class="thead-default">
                                  <tr>
                                    <th ng-if="province1 != null" rowspan="2">Province</th>
                                    <th ng-if="district1 != null" rowspan="2">District</th>
                                    <th ng-if="cds1 != null" rowspan="2">Cds</th>
									                  <th rowspan="2">Week</th>
                                    <th rowspan="2">Total debut de semaine</th>
                                    <th colspan="3">Nouvelles Admissions</th>
                                    <th rowspan="2">Re-admission après Abandon (&lt;2mois)</th>
                                    <th rowspan="2">Transfert interne</th>
                                    <th rowspan="2">Total des Admissions</th>
                                    <th colspan="4">Sorties</th>
                                    <th rowspan="2">Total decharge</th>
                                    <th rowspan="2">Total Fin de semaine</th>
                                  </tr>
                                  <tr>
                                    <th>P/T&lt;-3z,70%, PB&lt;115mm ou PB&lt;180mm </th>
                                    <th>Oeudeme</th>
                                    <th>Rechute</th>
                                    <th>Traité avec succès</th>
                                    <th>Deces</th>
                                    <th>Abandons</th>
                                    <th>Non repondant</th>
                                  </tr>
                                </thead>
                                <tbody >
                                  {% verbatim %}
                                  <tr ng-repeat="(x, y) in leshopitaux" class="selectedcolumndata" repeat-end="loadColumns()">
									                  <td ng-if="province1 != null">{{province1.name}}</td>
                                    <td ng-if="district1 != null">{{district1.name}}</td>
                                    <td ng-if="cds1 != null"><a href="#">{{cds1.name}}</a></td>
                                    <td>{{x}}</td>
                                    <td>{{y.total_debut_semaine}}</td>
                                    <td>{{y.ptb}}</td>
                                    <td>{{y.oedemes}}</td>
                                    <td>{{y.rechute}}</td>
                                    <td>{{y.readmission}}</td>
                                    <td>{{y.transfert_interne_i}}</td>
                                    <td>{{y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne }}</td>
                                    <td>{{y.gueri}}</td>
                                    <td>{{y.deces}}</td>
                                    <td>{{y.abandon}}</td>
                                    <td>{{y.non_repondant}}</td>
                                    <td>{{y.gueri + y.deces + y.abandon + y.non_repondant }}</td>
                                    <td>{{(y.total_debut_semaine + y.ptb + y.oedemes + y.rechute + y.readmission + y.transfert_interne) - (y.gueri + y.deces + y.abandon + y.non_repondant)}}</td>
                                  </tr>
                                  <tr class="success">
                                    <td ng-if="province1 != null">{{province1.name}}</td>
                                    <td ng-if="district1 != null">{{district1.name}}</td>
                                    <td ng-if="cds1 != null"><a href="#"> {{cds1.name}}</a></td>
                                    <td><b>Weeks</b></td>
                                    <td><b></b></td>
                                    <td><b>{{sommehopitaux.ptb || 0}}</b></td>
                                    <td><b>{{sommehopitaux.oedemes || 0}}</b></td>
                                    <td><b>{{sommehopitaux.rechute || 0}}</b></td>
                                    <td><b>{{sommehopitaux.readmission || 0}}</b></td>
                                    <td><b>{{sommehopitaux.transfert_interne_i || 0}}</b></td>
                                    <td><b>{{sommehopitaux.ptb + sommehopitaux.oedemes + sommehopitaux.rechute + sommehopitaux.readmission + sommehopitaux.transfert_interne  || 0}}</b></td>
                                    <td><b>{{sommehopitaux.gueri || 0}}</b></td>
                                    <td><b>{{sommehopitaux.deces || 0}}</b></td>
                                    <td><b>{{sommehopitaux.abandon || 0}}</b></td>
                                    <td><b>{{sommehopitaux.non_repondant || 0}}</b></td>
                                    <td><b>{{sommehopitaux.gueri + sommehopitaux.deces + sommehopitaux.abandon + sommehopitaux.non_repondant || 0}}</b></td>
                                    <td><b></b></td>
                                  </tr>
                                  {% endverbatim %}
                                </tbody>
                              </table>
							  
							  <div class="row" >
									<input type="button" class="btn btn-default" target="_blank" onclick="location.href='http://cmam.unicefburundi.org/explorer/3/';" value="Stock In Excel" />
								</div>
								<div class="row" >
									<input type="button" class="btn btn-default" target="_blank" onclick="location.href='http://cmam.unicefburundi.org/explorer/4/';" value="Stock Out Excel" />
								</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endblock container %}
                    </div>
                    <!-- /.col-lg-12 -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
              </div>
              <!-- /#page-wrapper -->

            </div>
            <!-- /#wrapper -->
            <footer class="container-fluid">
              <p class="text-right ">©2016 UNICEF Burundi</p>
            </footer>

            <!-- Bootstrap Core JavaScript -->
            <script src="{% static 'js/bootstrap.min.js' %}"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>

            <!-- Custom Theme JavaScript -->
            <script src="{% static 'js/sb-admin-2.js' %}"></script>

            <!-- CMAM based Js -->
            <script src="{% static 'js/cmam-programs.js' %}"></script>
            <!-- Include Bootstrap Datepicker -->
            <link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />

            <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
            <script>
            $(document).ready(function() {
                $('.datePicker')
                    .datepicker({
                        dateFormat: 'yy-mm-dd'
                    })
                    .on('changeDate', function(e) {
                        // Revalidate the date field
                        $('#eventForm').formValidation('revalidateField', 'date');
                    });
                });
            </script>
          </body>
</html>
