<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  </head>
  <body>{% load staticfiles %}
    <title>Les sorties </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
      crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/cupertino/jquery-ui.css">
    <div class="container" ng-app="myApp">
      <div class="row">
        <h3> Search</h3>
        <div class="col-md-7">
          <form class="form-inline">
            <div class="form-group" ng-controller="myCtrl">
              <label for="debut">A partir de </label>
              <input class="form-control" id="debut" placeholder="10-07-2016" type="text" ng-model="debut" ng-change="debut()">
            </div>
            <div class="form-group">
              <label for="fin">Au</label>
              <input class="form-control" id="fin" placeholder=" present" type="text" ng-model="fin" ng-change="fin()">
            </div>
            <button type="submit" class="btn btn-primary">OK</button> </form>
            <pre>{{ debut }} et {{ fin }}</pre>
        </div>
        <div class="col-md-5">
          <div class="col-md-3">Unités en</div>
          <div class="col-md-2 bg-danger" id="unites"></div>
          <div class="col-md-7"></div>
        </div>
      </div>
      <hr>
      <div class="row" ng-controller="myCtrl">
        <div class="col-md-3"  >
          <form>
            <!-- Product -->
            <div id="product-group" class="form-group">
              <label>Products</label>
              <select class="form-control"  ng-model="sorties.products" ng-options="x.designation for x in produits track by x.id" ng-change="update_product()" ></select>
            </div>

            <!-- Province -->
            <div id="province-group" class="form-group">
              <label>Province</label>
              <select class="form-control"  ng-model="sorties.province" ng-options="x.name for x in provinces track by x.code" ng-change="update_province()"></select>
            </div>

            <!-- District -->
            <div id="district-group" class="form-group">
              <label>District</label>
              <select class="form-control"  ng-model="sorties.district" ng-options="x.name for x in districts track by x.code"  ng-change="update_district()" ></select>
            </div>

            <!-- SUBMIT BUTTON -->
            <button type="submit" class="btn btn-success btn-lg btn-block">
              <span class="glyphicon glyphicon-flash"></span> Submit!
            </button>
          </form>

          <p class="bg-danger">
          Les sorties de CAMEBU sont superieures aux entrees des Districts</p>
        </div>
        <div class="col-md-4">
          <div class="row camebu"  ng-controller="myCtrl">
            <h5> Stocks au <b>niveau central</b>.</h5>
            <table id="datatable1" class="table table-bordered" >
              <thead>
                <tr>
                  <th>Entrée</th>
                  <th>Sorties</th>
                  <th>Stock Restant</th>
                </tr>
              </thead>
              <tbody>
                {% verbatim %}
                  <tr >
                  <td id="cen-entrees">{{ sorties.products.reception  || 0}}</td>
                  <td id="cen-sorties">{{ sorties.products.sortie || 0 }}</td>
                  <td id="cen-restant">{{ (sorties.products.quantite_en_stock_central + sorties.products.reception - sorties.products.sortie) || 0 }}</td>
                </tr>
                {% endverbatim %}
              </tbody>
            </table>
          </div>
          <div class="row district" >
            <h5> Stocks au <b>niveau du district</b>.</h5>

            <table id="datatable2" class="table table-bordered">
              <thead>
                <tr>
                  <th>District</th>
                  <th>Entrée</th>
                  <th>Sorties</th>
                  <th>Stock Restant</th>
                </tr>
              </thead>
              <tbody>
              {% verbatim %}
                <tr ng-repeat="x in districts">
                  <th>{{ x.name }}</th>
                  <td>{{ x.reception }}</td>
                  <td>{{ x.sortie }}</td>
                  <td>{{ x.reception - x.sortie }}</td>
                </tr>
              {% endverbatim %}
            </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-5 cds">
          <h5> Stocks au <strong>niveau des CDS</strong>.</h5>
          <table id="datatable2" class="table table-bordered">
            <thead>
              <tr>
                <th>CDS</th>
                <th>Entrée</th>
                <th>Sorties</th>
                <th>Stock Restant</th>
              </tr>
            </thead>
            <tbody>
              {% verbatim %}
                <tr ng-repeat="x in cds">
                  <th>{{ x.name }}</th>
                  <td>{{ x.reception }}</td>
                  <td>{{ x.sortie }}</td>
                  <td>{{ x.reception - x.sortie }}</td>
                </tr>
                  {% endverbatim %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
      /*  jQuery ready function. Specify a function to execute when the DOM is fully loaded.  */
      $(document).ready(

        /* This is the function that will get executed after the DOM is fully loaded */
        function () {
          $( "#debut" ).datepicker({
            changeMonth: true,//this option for allowing user to select month
            changeYear: true //this option for allowing user to select from year range
          });
          $( "#fin" ).datepicker({
            changeMonth: true,//this option for allowing user to select month
            changeYear: true //this option for allowing user to select from year range
          });
        }

      );
    </script>
    <script src="{% static "js/cmam-app.js" %}"></script>
  </body>
</html>
