{% extends "index.html" %}
{% load staticfiles %}

{% block title %}
    Stock
{% endblock title %}
{% block header_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
{% endblock header_js %}

{% block header_stilesheets %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
      crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/cupertino/jquery-ui.css">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock header_stilesheets %}

{% block container %}
<div class="container" ng-app="myApp">
      <div class="row">
        <h3> Search</h3>
        <div class="col-md-7" ng-controller="myCtrl">
          <form class="form-inline">
            <div class="form-group" >
              <label for="debut">A partir de </label>
              <input class="form-control" id="debut" placeholder="10-07-2016" type="text" ng-model="debut"  datepicker />
            </div>
            <div class="form-group">
              <label for="fin">Au</label>
              <input class="form-control" id="fin" placeholder=" present" type="text" ng-model="fin" datepicker />
            </div>
            <button type="submit" class="btn btn-primary">OK</button> </form>
        </div>
      </div>
      <hr>
      <div class="row" ng-controller="myCtrl">
        <div class="col-md-3"  >
          <form>
          <!-- Province -->
            <div id="province-group" class="form-group">
              <label>Province</label>
              <select class="form-control"  ng-model="dashboard.province" ng-options="x.name for x in provinces track by x.code" ng-change="update_province()"></select>
            </div>

            <!-- District -->
            <div id="district-group" class="form-group">
              <label>District</label>
              <select class="form-control"  ng-model="dashboard.district" ng-options="x.name for x in districts track by x.code"  ng-change="update_district()" ></select>
            </div>
          </form>
        </div>
        {% block stock_table %}
          {% include "cmam_app/stock_tables.html" %}
        {% endblock stock_table %}
      </div>
{% endblock container %}

{% block footer_js %}
  <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
      /*  jQuery ready function. Specify a function to execute when the DOM is fully loaded.  */
      $(document).ready(

        /* This is the function that will get executed after the DOM is fully loaded */
        function () {
          $( "#debut" ).datepicker({
            changeMonth: true,//this option for allowing user to select month
            changeYear: true //this option for allowing user to select from year range
          });
          $( "#fin" ).datepicker({
            changeMonth: true,//this option for allowing user to select month
            changeYear: true //this option for allowing user to select from year range
          });
        }

      );
    </script>
    <script src="{% static "js/cmam-app.js" %}"></script>
{% endblock footer_js %}
