{% extends "index.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Stocks{% endblock title %}
{% block blockname %}StockApp{% endblock blockname %}
{% block content %}
      {% block programs %}
        <div class="right_col" role="main" ng-controller="StockCtrl">
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="x_panel">
                <div class="x_content">
                  <br />
                  {% block search_form %}
                  <form role="form" class="side-form">
                    <!-- Province -->
                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                      <label>Province</label>
                      <select id="ddprovince" class="form-control"  ng-model="dashboard.province" ng-options="x.name for x in provinces track by x.code" ng-change="update_province()">
                      <option value="">-------</option>
                      </select>
                    </div>

                    <!-- District -->
                    <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                      <label>District</label>
                      <select id="districtselect" class="form-control"  ng-model="dashboard.district" ng-options="x.name for x in districts track by x.code"  ng-change="update_district()" >
                          <option value="">-------</option>
                      </select>
                    </div>

                    <!-- CDS -->
                      <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                        <label>CDS</label>
                        <select class="form-control"  ng-model="district" ng-options="x.name for x in districts track by x.code"  ng-change="update_district()" >
                        <option value="">-------</option>
                        </select>
                      </div>
                    <!-- dates -->
                      <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                          <label for="dstartdate">{% trans "Start Date" %}:</label>
                          <div class="input-group date" data-provide="datepicker">
                              <input type="text" id="startdate" class="form-control datepicker" readonly="readonly" ng-model="startdate" ng-change="get_by_date()" style="position: relative; z-index: 100000;">
                              <div class="input-group-addon">
                                  <span class="glyphicon glyphicon-th"></span>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                          <label for="dendtdate">{% trans "End Date" %}:</label>
                          <div class="input-group date" data-provide="datepicker">
                              <input type="text" id="endtdate" class="form-control datepicker" readonly="readonly" ng-model="enddate" ng-change="get_by_date()" style="position: relative; z-index: 100000;">
                              <div class="input-group-addon">
                                  <span class="glyphicon glyphicon-th"></span>
                              </div>
                          </div>
                      </div>
                  </form>
                  {% endblock search_form %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12" ng-controller="ExportCtrl">
            <table  class="table table-bordered"  data-toggle="table" datatable="ng" dt-options="dtOptions" >
                          <thead>
                              <tr>
                                  <th colspan="2">Etablissement</th>
                                  <th colspan="3">AMX</th>
                                  <th colspan="3">ATPE</th>
                                  <th colspan="3">F100</th>
                                  <th colspan="3">F75</th>
                              </tr>
                              <tr>
                              {% verbatim %}
                                  <th ng-model="title" >{{ title || "CDS"}}</th>
                              {% endverbatim %}
                                  <th >Code</th>
                                  <th >Reception</th>
                                  <th >Sortie</th>
                                  <th >Balance</th>
                                  <th >Reception</th>
                                  <th >Sortie</th>
                                  <th >Balance</th>
                                  <th >Reception</th>
                                  <th >Sortie</th>
                                  <th >Balance</th>
                                  <th >Reception</th>
                                  <th >Sortie</th>
                                  <th >Balance</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% verbatim %}
                              <tr ng-repeat="(x, y) in etablissements" ng-if="y.code.length != 7">
                                  <td><a href="/cmam/detailsprovinces/{{y.code}}">{{y.name}}</a></td>
                                  <td>{{y.code}}</td>
                                  <td >{{ y.AMX.reception  }}</td>
                                  <td >{{ y.AMX.sortie  }}</td>
                                  <td ng-if="(y.AMX.reception - y.AMX.sortie) != y.AMX.balance" class="bg-danger">{{ y.AMX.balance }}</td>
                                  <td ng-if="(y.AMX.reception - y.AMX.sortie) == y.AMX.balance">{{ y.AMX.balance }}</td>
                                  <td >{{ y.ATPE.reception }}</td>
                                  <td >{{ y.ATPE.sortie }}</td>
                                  <td ng-if="(y.ATPE.reception - y.ATPE.sortie) != y.ATPE.balance" class="bg-danger">{{ y.ATPE.balance }}</td>
                                  <td ng-if="(y.ATPE.reception - y.ATPE.sortie) == y.ATPE.balance">{{ y.ATPE.balance }}</td>
                                  <td >{{ y.F100.reception }}</td>
                                  <td >{{ y.F100.sortie }}</td>
                                  <td ng-if="(y.F100.reception - y.F100.sortie) != y.F100.balance" class="bg-danger">{{ y.F100.balance }}</td>
                                  <td ng-if="(y.F100.reception - y.F100.sortie) == y.F100.balance">{{ y.F100.balance }}</td>
                                  <td >{{ y.F75.reception }}</td>
                                  <td >{{ y.F75.sortie }}</td>
                                  <td ng-if="(y.F75.reception - y.F75.sortie) != y.F75.balance" class="bg-danger">{{ y.F75.balance }}</td>
                                  <td ng-if="(y.F75.reception - y.F75.sortie) == y.F75.balance">{{ y.F75.balance }}</td>
                              </tr>
                            {% endverbatim %}
                        </tbody>
                    </table>
                  </div>
                  <div class="tab-pane fade" id="SST">
                      <table  class="table table-bordered" data-toggle="table" datatable="ng" dt-options="dtOptions" >
                      <thead>
                          <tr>
                              <th colspan="2">Etablissement</th>
                              <th colspan="3">AMX</th>
                              <th colspan="3">ATPE</th>
                              <th colspan="3">F100</th>
                              <th colspan="3">F75</th>
                          </tr>
                          <tr>
                              {% verbatim %}
                                  <th ng-model="titles" >{{ titles || "Hopital"}}</th>
                              {% endverbatim %}
                              <th >Code</th>
                              <th >Reception</th>
                              <th >Sortie</th>
                              <th >Balance</th>
                              <th >Reception</th>
                              <th >Sortie</th>
                              <th >Balance</th>
                              <th >Reception</th>
                              <th >Sortie</th>
                              <th >Balance</th>
                              <th >Reception</th>
                              <th >Sortie</th>
                              <th >Balance</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% verbatim %}
                          <tr ng-repeat="(x, y) in etablissements" ng-if="y.code.length === 7" >
                              <td><a href="/cmam/detailscds/{{y.code}}">{{y.name}}</a></td>
                              <td>{{y.code}}</td>
                              <td >{{ y.AMX.reception  || 0}}</td>
                              <td >{{ y.AMX.sortie || 0 }}</td>
                              <td >{{ y.AMX.balance || 0 }}</td>
                              <td >{{ y.ATPE.reception  || 0}}</td>
                              <td >{{ y.ATPE.sortie || 0 }}</td>
                              <td >{{ y.ATPE.balance || 0 }}</td>
                              <td >{{ y.F100.reception  || 0}}</td>
                              <td >{{ y.F100.sortie || 0 }}</td>
                              <td >{{ y.F100.balance || 0 }}</td>
                              <td >{{ y.F75.reception  || 0}}</td>
                              <td >{{ y.F75.sortie || 0 }}</td>
                              <td >{{ y.F75.balance || 0 }}</td>
                          </tr>
                        {% endverbatim %}
                    </tbody>
                  </table>
        </div>
      {% endblock programs %}
{% endblock content %}

{% block custom_js %}
  <script type="text/javascript" src="{% static 'js/angular-sanitize.min.js' %}"></script>
  <script src="{% static "js/jquery/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "js/angular-datatables.min.js" %}"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static "css/angular-datatables.min.css" %}">
  <link rel="stylesheet" href="{% static "css/buttons.dataTables.min.css" %}">
  <script src="{% static "js/dataTables.buttons.min.js" %}"></script>
  <script src="{% static "js/buttons.colVis.min.js" %}"></script>
  <script src="{% static "js/buttons.flash.min.js" %}"></script>
  <script src="{% static "js/buttons.html5.min.js" %}"></script>
  <script src="{% static "js/buttons.print.min.js" %}"></script>
  <script src="{% static "js/angular-datatables.buttons.min.js" %}"></script>
  <!-- CMAM based Js -->
  <script src="{% static 'js/cmam-stock.js' %}"></script>
{% endblock custom_js %}